.pragmatic_header_logo{
    margin: 2rem 0; font-family: 'Nanum Myeongjo', serif;
}

.pragmatic_header_bottom{
    margin-bottom: 1.5rem 0
}

.pragmatic_footer_logo{
       margin: 1.5rem 0; font-family: 'Nanum Myeongjo', serif;
}

.pragmatic_footer_bottom{
       margin-top: 1.5rem 0;
}

.mw-500 {
    max-width: 500px; padding: 1rem 1.5rem;
}